@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fef9f2;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.panel-container {
  background-color: #fff;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  box-shadow: 0 0px 1rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  max-width: 40rem;
  text-align: center;
}

.panel-container strong{
  font-size: inherit;
  line-height: 2rem;
}

.panel-container p {
  margin-top: 1rem;
}

.feedback-options {
  display: flex;
  margin: 2rem 0;
}

.rating {
  flex: 1;
  cursor: pointer;
  padding: 2rem;
  margin: 1rem 0.5rem;
}

.rating:hover,
.rating.active {
  border-radius: .5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.rating img {
  width: 4rem;
}

.rating small {
  color: #555;
  display: inline-block;
  margin: 1rem 0 0;
}

.rating:hover small,
.rating.active small {
  color: #111;
}

.btn {
  background-color: #302d2b;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 1.2rem 3rem;
  font-family: inherit;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(.98);
}

.fa-heart {
  color: red;
  font-size: 3rem;
  margin-bottom: 1rem;
}
