@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 33rem;
  width: 30rem;
  overflow: hidden;
}
.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: rebeccapurple;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  width: 49.5%;
  font-family: inherit;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}
